@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

#root {
  width: 100%;
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;

  font-family: "Jost", sans-serif;
}

a {
  color: #c41e3a;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

nav {
  position: sticky;
  top: 0;
  height: 100vh;
  width: fit-content;

  /*display: flex;*/
  text-transform: uppercase;
  text-decoration: none;

  padding: 2rem;

  background-color: #c41e3a;
}
nav a {
  text-decoration: none;
  color: white;
}

li {
  padding: 0.25rem;
  list-style: none;
  white-space: nowrap;
}

li {
  font-size: 1.5rem;
}

.nested-ul li {
  font-size: 1rem;
  list-style: disc;
}
.nested-ul {
  padding-left: 2rem;
}
li::marker {
  color: white;
}

section {
  width: 100%;
  max-width: 800px;
}

article {
  margin-bottom: 5rem;
}

p {
  margin: 1rem 0;
}

.rzuty-box {
  width: 100%;
  background-color: #f3f3f4;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #c41e3a;
  margin: 1rem 0;
  font-weight: 600;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  background-color: #c41e3a;
  color: white;
  padding: 0.5rem;
  margin: 3rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead th {
  background-color: #c41e3a;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-top: none;
  border-bottom: none;
  font-size: 14px;
}

tbody td {
  padding: 8px;
  border: 2px solid #c41e3a;
  font-size: 14px;
}

tbody td.na {
  background-color: #000;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #f9f3f0;
}

tbody tr:nth-child(even) {
  background-color: #fdeae7;
}

td:first-child {
  font-weight: bold;
  background-color: #f9f3f0;
}

thead th:first-child {
  background-color: #c41e3a;
  font-size: 16px;
  border-left: none;
}

.bijatyka-dmg th,
.bijatyka-dmg td {
  width: 20%;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0;
}
h3::before {
  color: #c41e3a;
  content: "▶";
  padding-right: 0.5rem;
}
